<%- include("partials/header"); -%>

<h1>Compose</h1>

<form class="" action="compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="newTitle" autocomplete="off" size="81" class= "form-control">
  <label>Post</label>
  <textarea class="form-control" name="writeBlog" rows="8" cols="80"></textarea>
</div>

  <button class="btn btn-primary" type="submit" name="button" >Publish</button>
</form>






<%- include("partials/footer"); -%>
